:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --tertiary-color: #7e8991;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    /* applies 20px to the top and bottom, then 35px to the left and right*/
    padding: 10px 0 10px 0;
    /* background-color: var(--tertiary-color); */
    /*Added flex elements to the header */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* From the Hero section to make a seamless transition */
    background-image: url("../images/hero-shapes.jpg");
    /* opacity:0.3; */
    /* #p1 {background-color:rgb(255,0,0);opacity:0.6;}  red with opacity */
    /* Adjusting the background picture size and position to have it match what the customer wants */
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}
header h1 {
    background-color:var(--primary-color);
    font-weight: bold;
    font-size: 3.5vw;
    /* font-size: 36px; */
    color: var(--tertiary-color);
    /* margin: 0;
    padding: 0; */
    padding: 5px 10px 5px 30px;
}
header a {
    /* this makes it so there is no underline for the link.  decoration is refering to the line under or a strikethrough */
    background-color:var(--primary-color);
    text-decoration: none;
    color: var(--tertiary-color);
    padding: 2px 5px .5px 5px;
    border-bottom: 2px solid;
    margin: 5px;
}
header nav {
    /* this adds 7px to the top and bottom, but 0px to the left and right */
    margin: 7px 0;
}
/* 
header nav ul li {
    display: inline;
} */

header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:flex-end;
    list-style: none;
    /* margin: 10px; */
    /* padding: 5px; */
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2vw; /* Viewport Width based on actual browser and window size.  1.55 is saying that the font size should be roughly 1.55% of the window*/
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 10px;
    text-shadow: none;
}

/* --------------------------------------------------Hero Style Start--------------------------------------------------- */
/* . notation says that we are using a class as our CSS selector. */
.hero {
    background-image: url("../images/hero-shapes.jpg");
    /* Adjusting the background picture size and position to have it match what the customer wants */
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5% 0 0.5% 2.5%; 
    padding: 5px 20px 5px 10px;
    line-height: 1.2;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.hero-cta h3 {
    font-size: 2.5vw;
    font-style: italic;
}
/* Hero Style End */

/* Section General Information Start */
section {
    padding: 30px;
}

.section-title {
    text-align: left;
    border-bottom: var(--secondary-color) solid 5px;
    padding-bottom: 10px;
    width: 50%;
    font-size: 40px;
    margin: 0 auto 20px auto;
}
.section-content {
    text-align: left;
    /* width: 85vw;
    padding-left: 60px; */
}

/* Section General Information End */

/* About Me Section Start */
.about-me-grid-wrapper {
    flex: 2 70%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}

.about-me-img {
    flex: 1 12%;
    margin-right: 20px;
    /* background-image: url("../images/portfolio-pic.jpg"); */
}

.about-me-img img {
    max-width: 100%;
}

.about-me-text {
    flex: 12;
}

.about-me-text p {
    color: var(--tertiary-color);
    font-size: 18px;
}

.about-me-img {
    /* grid-column: 1; */
    background-image: url("../images/portfolio-pic.jpg");
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/* About Me Section End */

/* Project Section Start */

.project-grid-wrapper p {
    background-color: var(--tertiary-color);
    text-align: center;
    padding: 5px;
    color: var(--primary-color);
}

.project-grid-container {
    display: flex;
    grid-gap: 15px;
    flex-direction: column;
}


.project-grid-container > * {
    border: var(--secondary-color) solid 5px;
    display: flex;
    background-size: cover;
    height: 50vh;
}

.project-grid-container a {
    color: var(--tertiary-color);
    text-decoration: none;
    padding-bottom: 0px;
    width: 100%;
}

.feature-project {
    grid-column: 1/span 4;
    grid-row: 1/span 2;
    background-image: url("../images/paranormal-img.png");
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.project-1 {
    grid-column: 5;
    background-image: url("../images/covid-img.png");
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.project-2 {
    grid-column: 5;
    grid-row: 2;
    background-image: url("../images/password_generator.png");
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.project-3 {
    grid-column: 1/span 2;
    grid-row: 3;
    background-image: url("../images/readme_generator.png");
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.project-4 {
    grid-column: 3/span 2;
    grid-row: 3;
    background-image: url("../images/Rexex_tutorial.png");
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/* .project-5 {
    grid-column: 5;
    grid-row: 3;
    background-image: url("../images/portfolio-pic.jpg");
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
} */

/* Project Section End */

/* Media Queries Start */

/*For desktops*/
@media screen and (min-width: 980px) {
    .project-grid-container {
        display: grid;
        grid-gap: 10px;
    }
    header {
        justify-content: space-between;
    }
    nav {
        display: flex;
        align-items: center;
    }
    section {
        display: flex;
    }
    .section-title {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        text-align: left;
        border-right: var(--secondary-color) solid 5px;
        border-bottom: none;
        padding: 10px;
        text-align: left;
        width: 15vw;
        border-right: var(--secondary-color) solid 15px;
        font-size: 25px;
    }
    .section-content {
        text-align: left;
        width: 85vw;
        padding-left: 60px;
    }
    .contact-method {
        padding-left: 0px;
        margin-left: 0px;
    }
    .project-grid-container > * {
        border: var(--secondary-color) solid 5px;
        display: flex;
        background-size: cover;
        height: auto;
    }
    .project-grid-container {
        display: grid;
        grid-gap: 10px;
        width: 60vw;
        height: 60vw;
    }
}

/*For smaller desktops*/
@media screen and (min-width: 768px) {
    .about-me-img:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        transition: 1s;
    }
    .feature-project:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        transition: 1s;
    }
    
    .project-1:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        transition: 1s;
    }
    .project-2:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        transition: 1s;
    }
    .project-3:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        transition: 1s;
    }
    .project-4:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        transition: 1s;
    }
    /* .project-5:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        transition: 1s;
    }  */
    
}
/*For tablets*/
@media screen and (max-width: 768px) {
    .about-me-grid-wrapper {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    } 

    .about-me-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .about-me-text {
        flex: 100%;
    }

}
/* Media Queries End */